@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.ott {
    cursor: default;
    user-select: none;
    height: 100%;
    padding-bottom: 1em;
}
.ott a {
    text-decoration: none !important;
    color: inherit !important;
}
.ott p {
    display: contents
    margin: 0;
}
.ott span {
    display: contents;
}
.ott .spinner {
    color: var(--text-muted);
    display: flex;
    justify-content: center;
    align-content: center;
}
.ott .spinner svg {
    animation: spin 3s linear infinite;
}

.ott .details {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
}

.ott .dateLine {
    align-items: center;
    color: var(--text-muted) !important;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 11px;
    font-variant-numeric: tabular-nums;
    font-weight: bold;
    justify-content: space-between;
    letter-spacing: 0.1em;
    line-height: 1.3;
    margin: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
}
.ott .task {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.ott .timeline,
.ott .lines {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    cursor: default;
}
.ott .timeline {
    width: 50px;
    flex-shrink: 0;
    flex-grow: 0;
}
.ott .lines {
    flex-shrink: 1;
    flex-grow: 1;
}
.ott .stripe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    flex-grow: 1;
    margin: 0 auto;
    width: 1px;
    background: var(--checkbox-border-color);
}
.ott .task:last-child .stripe {
    display: none;
}
.ott .task.overdue .timeline .icon svg line {
    stroke: #ff375f !important;
    stroke-width: 2.5px !important;
}

.ott .line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.ott .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    text-align: center;
}
.ott .timeline .icon {
    text-align: center;
    height: 22px;
}
.ott .timeline .icon svg {
    color: var(--checkbox-border-color);
    height: var(--checkbox-size);
    width: var(--checkbox-size);
    stroke-width: 1.75px;
}
.ott .timeline .icon svg:hover {
    color: var(--checkbox-border-color-hover);
}
.ott .task .info {
    line-height: 22px;
    padding-bottom: 2px;
    cursor: default;
}
.ott .task .info:empty {
    display: none;
}
.ott .task .content {
    display: block;
    white-space: break-word;
    font-size: 15px;
    font-weight: normal;
    color: var(--text-normal);
    line-height: 22px;
}
.ott .task .info .tag,
.ott .task .info .repeat,
.ott .task .info .priority,
.ott .task .info .relative,
.ott .task .info .id,
.ott .task .info .depends-on,
.ott .task .info .file {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: var(--font-ui-smaller);
    font-weight: var(--font-normal);
    line-height: 1 !important;
    margin: var(--size-2-1) var(--size-4-1) var(--size-2-1) 0;
    padding: 0;
    width: auto;
    font-size: 9px;
    font-weight: normal;
    margin: 2px 5px 2px 0;
    color: var(--text-muted);
    padding: 0px;
    border: none;
    line-height: 1 !important;
    padding: 0;
    border-radius: 3px !important;
}
.ott .info .icon {
    text-align: center;
    height: 15px;
}
.ott .info .label {
    margin-left: 2px;
}
.ott .info label.dateInput {
    display: inline-flex;
    position: relative;
    overflow: clip;
    margin-right: 3px;
    border-radius: 10px;
    color: var(--interactive-accent);
    border: var(--input-border-width) solid var(--interactive-accent);
}
.ott .info label.dateInput:hover {
    color: var(--text-normal);
    border: var(--input-border-width) solid var(--text-normal);
}
.ott .info label.dateInput > .icon {
    padding: 2px;
    border-radius: 10px;
    width: 13px;
    height: 13px;
}
.ott .info label.dateInput > input[type="date"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 300%;
    opacity: 0;
    cursor: pointer;
}
.ott .info label.dateInput > input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: -150%;
    left: -150%;
    width: 300%;
    height: 300%;
    cursor: pointer;
}
.ott .info svg {
    height: 12px;
    width: 12px;
    stroke-width: 1.75px;
}
.ott .task.overdue .info .relative {
    color: #ff375f !important;
}
