@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.ott {
    cursor: default;
    font-size: var(--font-ui-small);
    height: 100%;
    padding-bottom: 1em;
    user-select: none;
}

.ott a {
    color: inherit !important;
    text-decoration: none !important;
}

.ott p {
    display: contents;
    margin: 0;
}

.ott p+p {
    margin-top: var(--p-spacing)
}

.ott span {
    display: contents;
}

.ott .spinner {
    align-content: center;
    color: var(--text-muted);
    display: flex;
    justify-content: center;
}

.ott .spinner svg {
    animation: spin 3s linear infinite;
}

.ott .details {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    width: 100%;
}

.ott .dateLine {
    align-items: center;
    color: var(--text-normal) !important;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-weight: var(--font-medium);
    justify-content: space-between;
    line-height: var(--line-height-tight);
    margin: var(--size-4-3) 0;
    white-space: nowrap;
}

.ott .task {
    align-items: flex-start;
    border-radius: var(--radius-m);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
}

.ott .timeline,
.ott .lines {
    cursor: default;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.ott .timeline {
    display: block;
    line-height: var(--line-height-normal);
    padding-right: var(--size-4-2);
}

.ott .timeline input[type="checkbox"] {
    cursor: pointer;
    vertical-align: middle;
}

.ott .lines {
    flex-grow: 1;
    flex-shrink: 1;
}

.ott .task.overdue .timeline .icon svg line {
    stroke-width: 2.5px !important;
    stroke: var(--color-red) !important;
}

.ott .line {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ott .icon {
    align-items: center;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    text-align: center;
}

.ott .timeline .icon {
    height: 22px;
    text-align: center;
}

.ott .timeline .icon svg {
    color: var(--checkbox-border-color);
    height: var(--checkbox-size);
    stroke-width: var(--icon-m-stroke-width);
    width: var(--checkbox-size);
}

.ott .timeline .icon svg:hover {
    color: var(--checkbox-border-color-hover);
}

.ott .task .info {
    cursor: default;
    line-height: 22px;
    padding-bottom: var(--size-2-1);
}

.ott .task .info:empty {
    display: none;
}

.ott .task .content {
    color: var(--text-muted);
    display: block;
    font-weight: var(--font-normal);
    line-height: var(--line-height-normal);
    white-space: break-word;
}

.ott .task .info .tag,
.ott .task .info .repeat,
.ott .task .info .priority,
.ott .task .info .relative,
.ott .task .info .id,
.ott .task .info .depends-on,
.ott .task .info .file {
    align-items: center;
    border-radius: var(--radius-s) !important;
    border: none;
    color: var(--text-faint);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: var(--font-ui-smaller);
    font-weight: var(--font-normal);
    line-height: 1 !important;
    margin: var(--size-2-1) var(--size-4-1) var(--size-2-1) 0;
    padding: 0;
    padding: 0px;
    width: auto;
}

.ott .info .icon {
    height: var(--icon-s);
    text-align: center;
}

.ott .info .label {
    margin-left: var(--size-2-1);
}

.ott .info label.dateInput {
    border-radius: var(--radius-m);
    border: var(--input-border-width) solid var(--interactive-accent);
    color: var(--interactive-accent);
    display: inline-flex;
    margin-right: var(--size-2-2);
    overflow: clip;
    position: relative;
}

.ott .info label.dateInput:hover {
    border: var(--input-border-width) solid var(--text-normal);
    color: var(--text-normal);
}

.ott .info label.dateInput>.icon {
    border-radius: var(--radius-m);
    height: var(--font-ui-small);
    padding: var(--size-2-1);
    width: var(--font-ui-small);
}

.ott .info label.dateInput>input[type="date"] {
    cursor: pointer;
    height: 300%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300%;
}

.ott .info label.dateInput>input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    height: 300%;
    left: -150%;
    position: absolute;
    top: -150%;
    width: 300%;
}

.ott .info svg {
    height: var(--icon-xs);
    stroke-width: var(--icon-xs-stroke-width);
    width: var(--icon-xs);
}

.ott .task.overdue .info .relative {
    color: var(--color-red) !important;
}
