@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.ott {
    font-size: var(--font-ui-small);
    height: 100%;
    user-select: none;
}

.ott a {
    color: inherit;
    text-decoration: none;
}

.ott :is(p, span) {
    display: contents;
    margin: 0;
}

.ott p+p {
    margin-top: var(--p-spacing);
}

.ott .spinner {
    align-content: center;
    color: var(--text-normal);
    display: flex;
    justify-content: center;
}

.ott .spinner svg {
    animation: spin 3s linear infinite;
}

.ott .date-line {
    align-items: center;
    border-radius: var(--radius-s);
    color: var(--text-normal);
    display: flex;
    font-weight: var(--font-medium);
    justify-content: space-between;
    line-height: var(--line-height-normal);
    margin-bottom: var(--size-4-1);
    padding: var(--size-4-1) var(--size-4-2);
    white-space: nowrap;
}

.ott .date-line:hover {
    background-color: var(--background-modifier-hover);
}

.ott .date-line .counter,
.ott .date-line .relative {
    color: var(--text-faint);
}

.ott .date-line :is(.date, .relative)::first-letter {
    text-transform: uppercase;
}

.ott .content+.date-line {
    margin-top: var(--size-4-4);
}

.ott .timeline {
    display: block;
    line-height: var(--line-height-normal);
    padding-inline: var(--size-4-2) var(--size-2-2);
}

.ott .timeline input[type="checkbox"] {
    cursor: pointer;
    vertical-align: middle;
}

.ott .lines {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.ott .line {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.ott .icon {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
}

.ott .task .lines svg {
    color: var(--text-faint);
    height: var(--icon-xs);
    stroke-width: var(--icon-stroke);
    width: var(--icon-xs);
}

.ott .task .lines .label {
    margin-left: var(--size-2-1);
}

.ott .task {
    align-items: baseline;
    border-radius: var(--radius-m);
    display: flex;
    margin: 0;
    padding: 0;
}

.ott .task .lines {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--size-4-1);
    line-height: var(--line-height-normal);
    padding-bottom: var(--size-2-1);
}

.ott .task .content {
    color: var(--text-muted);
    display: inline;
    font-weight: var(--font-normal);
    margin-right: var(--size-4-1);
    user-select: text;
}

.ott .task .lines :is(.tag, .repeat, .priority, .relative, .id, .depends-on, .file) {
    align-items: center;
    background-color: var(--background-secondary);
    border: none;
    border-radius: var(--radius-s);
    color: var(--text-faint);
    display: flex;
    font-size: var(--font-ui-smaller);
    font-weight: var(--font-normal);
    line-height: 1;
    margin-left: calc(-1 * var(--size-4-1));
    padding: var(--size-2-1) var(--size-4-1);
}

.ott .task .lines :is(.tag, .repeat, .priority, .relative, .id, .depends-on, .file):hover {
    background-color: var(--background-modifier-hover);
    color: var(--text-muted);
}

.ott .task .lines .file {
    cursor: pointer;
    position: relative;
    white-space: nowrap;
}

.ott .task .lines :is(.tag, .repeat, .priority, .relative, .id, .depends-on, .file):hover .icon svg {
    color: var(--text-muted);
}

.ott .task .lines .file a::before {
    content: "";
    inset: 0;
    position: absolute;
}

.ott .task.overdue .timeline .icon svg line {
    stroke: var(--color-red);
    stroke-width: 2.5px;
}

.ott .task.overdue .lines .relative {
    color: var(--color-red);
}

.ott .task .lines .date-input,
.ott .task .lines .date-input * {
    cursor: pointer;
}

.ott .task .lines .date-input:hover .icon svg {
    color: var(--text-muted);
}

.ott .task .lines .date-input>.label {
    display: inline;
}

.ott .task .lines .date-input>input[type="date"] {
    height: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 0;
}
