.ott {
    cursor: default;
    user-select: none;
    height: 100%;
    padding-bottom: 1em;
}
.ott p {
    margin: 0;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.ott .spinner {
    color: var(--text-muted);
    display: flex;
    justify-content: center;
    align-content: center;
}
.ott .spinner svg {
    animation: spin 3s linear infinite;
}
.ott a {
    text-decoration: none !important;
    color: inherit !important;
}
.ott span {
    display: contents;
}
.ott .task .innerLink,
.ott .task .outerLink {
    color: var(--interactive-accent);
    text-decoration: underline !important;
}
.ott .year {
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0;
    color: var(--text-normal);
    text-align: center;
}
.ott .details {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
}
.ott .todayHeader {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 10px 5px;
    border-radius: 10px;
    cursor: pointer;
}
.ott .details.today {
    padding: 30px 0;
}
.ott .counters {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    margin: 20px 0;
}
.ott .counter {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    color: var(--text-normal);
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    flex: 1 1 0;
    margin: 0 5px;
    min-width: 70px;
    max-width: 150px;
    overflow: hidden;
    background: var(--interactive-normal);
    box-shadow: var(--input-shadow);
    cursor: pointer;
}
.ott .count {
    font-size: 18px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ott .counter .label {
    font-size: 12px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ott .dateLine {
    align-items: center;
    color: var(--text-muted) !important;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 11px;
    font-variant-numeric: tabular-nums;
    font-weight: bold;
    justify-content: space-between;
    letter-spacing: 0.1em;
    line-height: 1.3;
    margin: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
}
.ott .task {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.ott .timeline,
.ott .lines {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    cursor: default;
}
.ott .timeline {
    width: 50px;
    flex-shrink: 0;
    flex-grow: 0;
}
.ott .lines {
    flex-shrink: 1;
    flex-grow: 1;
    overflow: hidden;
}
.ott .stripe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    flex-grow: 1;
    margin: 0 auto;
    width: 1px;
    background: var(--checkbox-border-color);
}
.ott .task:last-child .stripe {
    display: none;
}
.ott .task.overdue .timeline .icon svg line {
    stroke: #ff375f !important;
    stroke-width: 2.5px !important;
}
.ott .task.done .timeline .icon svg {
    fill: var(--interactive-accent) !important;
    stroke: var(--interactive-accent) !important;
}
.ott .task.done .timeline .icon svg path:nth-child(1) {
    fill: var(--interactive-accent) !important;
}
.ott .task.done .timeline .icon svg path:nth-child(2) {
    stroke: var(--checkbox-marker-color) !important;
    stroke-width: 2.5px;
}
.ott .task.done .info .tag,
.ott .task.done .info .repeat,
.ott .task.done .info .priority,
.ott .task.done .info .relative,
.ott .task.done .info .file,
.ott .task.cancelled .info .tag,
.ott .task.cancelled .info .repeat,
.ott .task.cancelled .info .priority,
.ott .task.cancelled .info .relative,
.ott .task.cancelled .info .file {
    color: var(--text-muted) !important;
    line-height: 0;
}
.ott .task.done .content,
.ott .task.cancelled .content {
    text-decoration: line-through;
    color: var(--text-muted);
}
.ott .line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.ott .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    text-align: center;
}
.ott .timeline .icon {
    text-align: center;
    height: 22px;
}
.ott .timeline .icon svg {
    color: var(--checkbox-border-color);
}
.ott .timeline .icon svg:hover {
    color: var(--checkbox-border-color-hover);
}
.ott .timeline .icon svg {
    height: var(--checkbox-size);
    width: var(--checkbox-size);
    stroke-width: 1.75px;
}
.ott .task .info {
    line-height: 22px;
    padding-bottom: 2px;
    cursor: default;
}
.ott .task .info:empty {
    display: none;
}
.ott .task .content {
    display: block;
    white-space: break-word;
    font-size: 15px;
    font-weight: normal;
    color: var(--text-normal);
    line-height: 22px;
}
.ott .task .info .tag,
.ott .task .info .repeat,
.ott .task .info .priority,
.ott .task .info .relative,
.ott .task .info .id,
.ott .task .info .depends-on,
.ott .task .info .file {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: auto;
    font-size: 9px;
    font-weight: normal;
    margin: 2px 5px 2px 0;
    color: var(--text-muted);
    padding: 0px;
    border: none;
    line-height: 1 !important;
    padding: 0;
    border-radius: 3px !important;
}
.ott .info .icon {
    text-align: center;
    height: 15px;
}
.ott .info .label {
    margin-left: 2px;
}
.ott .info label.dateInput {
    display: inline-flex;
    position: relative;
    overflow: clip;
    margin-right: 3px;
    border-radius: 10px;
    color: var(--interactive-accent);
    border: var(--input-border-width) solid var(--interactive-accent);
}
.ott .info label.dateInput:hover {
    color: var(--text-normal);
    border: var(--input-border-width) solid var(--text-normal);
}
.ott .info label.dateInput > .icon {
    padding: 2px;
    border-radius: 10px;
    width: 13px;
    height: 13px;
}
.ott .info label.dateInput > input[type="date"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 300%;
    opacity: 0;
    cursor: pointer;
}
.ott .info label.dateInput > input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: -150%;
    left: -150%;
    width: 300%;
    height: 300%;
    cursor: pointer;
}
.ott .info svg {
    height: 12px;
    width: 12px;
    stroke-width: 1.75px;
}
.ott .task.overdue .info .relative {
    color: #ff375f !important;
}
/* Quick Entry Panel */
.ott .quickEntryPanel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: var(--background-modifier-form-field);
    border: var(--input-border-width) solid var(--background-modifier-border);
    color: var(--text-normal);
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    margin: 0 5px 20px 5px;
    overflow: hidden;
    padding: 5px;
}
.ott .quickEntryPanel .left {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    flex-shrink: 1;
    flex-grow: 1;
    overflow: hidden;
    border-radius: 5px;
    padding: 0 5px !important;
}
.ott .quickEntryPanel .right {
    display: block;
    width: auto;
    flex-shrink: 1;
    flex-grow: 1;
    overflow: hidden;
    border-radius: 5px;
}
.ott .quickEntryPanel select,
.ott .quickEntryPanel input,
.ott .quickEntryPanel button {
    box-shadow: none !important;
    border: none !important;
    background: none !important;
    border-radius: 0 !important;
}
.ott .quickEntryPanel select,
.ott .quickEntryPanel button {
    cursor: pointer;
}
.ott .quickEntryPanel input {
    cursor: text;
}
.ott .quickEntryPanel select {
    height: 15px;
    width: 100%;
    font-size: 11px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 !important;
    margin: 2.5px 0 !important;
    color: var(--text-muted);
}
.ott .quickEntryPanel select:hover,
.ott .quickEntryPanel button:hover {
    color: var(--text-normal);
}
.ott .quickEntryPanel select option,
.ott .quickEntryPanel select optgroup {
    background: var(--background-primary);
    font-weight: normal;
    color: var(--text-normal);
}
.ott .quickEntryPanel input {
    height: 20px;
    line-height: 20px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 14px;
}
.ott .quickEntryPanel button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    padding: 0 5px !important;
    margin: 0 !important;
    color: var(--text-muted);
}
.ott .quickEntryPanel svg {
    height: 15px;
    width: 15px;
    stroke-width: 1.75px;
}
.ott .quickEntryPanel select:active,
.ott .quickEntryPanel input:active,
.ott .quickEntryPanel button:active {
    border: none !important;
    box-shadow: none !important;
    transition: none !important;
}
/* Classes */
.ott.todayFocus .todayHeader {
    color: var(--interactive-accent);
}
.ott.todoFocus .counter#todo,
.ott.todoFilter .counter#todo,
.ott.overdueFocus .counter#overdue,
.ott.overdueFilter .counter#overdue,
.ott.unplannedFocus .counter#unplanned,
.ott.unplannedFilter .counter#unplanned {
    color: var(--interactive-accent);
    background: hsla(var(--interactive-accent-hsl), 0.2);
    box-shadow: var(--input-shadow);
}
.ott.noYear .year,
.ott.noRepeat .repeat,
.ott.noTag .tag,
.ott.noPriority .priority,
.ott.noFile .task .file,
.ott.noHeader .task .header,
.ott.noFile .task .info > .file,
.ott.noInfo .task .line:nth-child(2),
.ott.noDone .year[data-types="done"],
.ott.noDone .details[data-types="done"],
.ott.noDone .task.done,
.ott.noUnplanned .task.unplanned,
.ott.noUnplanned .counter#unplanned,
.ott.noUnplanned .year[data-types="unplanned"],
.ott.noUnplanned .details[data-types="unplanned"],
.ott.noRelative .relative,
.ott.noQuickEntry .quickEntryPanel,
.ott.noCounters .counters {
    display: none !important;
}
.ott.noColor .task .file {
    color: var(--text-muted) !important;
}
.ott.noColor .task .info .file {
    color: var(--text-muted) !important;
}
/* Focus */
.ott.todayFocus .details:not(.today),
.ott.todayFocus .year {
    display: none !important;
}
.ott.todayFocus .details.today {
    padding: 0;
}
.ott.todoFocus .details.today .task.due,
.ott.todoFocus .details.today .task.scheduled,
.ott.todoFocus .details.today .task.process,
.ott.todoFocus .details.today .task.start,
.ott.overdueFocus .task.overdue,
.ott.unplannedFocus .task.unplanned {
    background: hsla(var(--interactive-accent-hsl), 0.2);
}
